
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Introduction</h3>
        </div>
        <div class="panel-body">
            <p >
                <span >
                    Like no other sport, football is moving billions – of fans but especially of dollars. The most recent example is the FIFA World Cup 2014 in Brazil. Billions of fans watched the matches on TV screens around the globe. Football became the dominant topic in the media and upstaged other topics from politics and society. Simultaneously, billions of dollars were reallocated. With total sales of 3.3 billion euros and a profit of 1.6 billion euros, the tournament was a great success for its organizing institution FIFA.
                </span>
            </p>
            <p >
                <span >Not only at international but also at national level, the football industry has turned into an increasingly important economic industry. Football clubs convert from registered associations into limited companies; a commercialization of the sport is clearly noticeable.</span>
            </p>
            <p >
                <span >
                    This development calls for a professionalization of the football clubs’ structures. To remain competitive in national leagues and international competitions, an efficient and reasonable use of resources within the clubs is becoming more and more relevant.
                </span>
            </p>
            <p >
                <span >A process to assess the comparative efficiencies of football clubs is Benchmarking. This management method identifies best practice benchmarks within a certain league in order to evaluate the most efficient use of resources. To increase their efficiency, poorer performing clubs are advised to orient on the best performing references.
                </span>
            </p>
            <p >
                <span>Note, that the most efficient teams are not necessarily the top-ranked ones in the league table. Since efficiency is about how well limited resources are transformed into an intended output, small clubs with a limited financial capacity are often ranked more efficient than the league champion.
                </span>
            </p>
            <p >
                <span >Benchmarking in professional football is especially challenging since the performance is not only related to their financial but also based on their sporting success.
                </span>

            </p>
        </div>

    </div>
}




