@benchmarking {
    <style>
    p {
        text-align:justify;
        margin-left: 2%;
        margin-right: 2%;
    }
    </style>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1 class="panel-title">Models</h1>
        </div>
        <div class="panel-body">

        </div>


        <div >

            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Production function in the sports industry</span></h3>
            <p ><span  >
                In professional sports business, the concept of a production function can be applied just like in other industries. That means, that every football club produces certain outputs by using certain inputs.</span></p>
            <p ><span  >
                Just to name a few examples, the number of victories and the number of points earned can be regarded as outputs. The inputs into the production process could be reflected by the team’s performance which is dependent on factors such as inherent player’s abilities, physical shape, experience as well as the manager’s coaching skills or training facilities. Many different combinations of inputs and outputs can be found in the literature, depending on the object being studied. Our input-output section is giving an overview over possible inputs and outputs in professional football.</span></p>
            <p ><span  >
                A number of authors have already investigated efficiency in professional football. In the following, the two most relevant approaches are briefly introduced.</span></p>
            <p ><span  >&nbsp;</span></p>
            <h3 ><span   >Parametric approaches</span><span  ></span></h3>
            <p ><span  >In this category, especially Stochastic Frontier Analysis (SFA) has to be mentioned.</span></p>
            <p ><span  >
                Using a finite number of parameters from a statistical data set, the main objective of SFA is to estimate a stochastic frontier model, which consists of three components. At first, a deterministic production frontier for the considered industry is deployed whose mathematical form (linear, exponential, etc.) has to be hypothesized. The parameters for the assumed form can be estimated by means of statistical methods like ordinary least square (OLS) regression or Maximum Likelihood. The second component reflects random noise caused by external factors, which can make the output for a certain input level deviate from what is predicted by the production frontier. Lastly, a term is being assessed that captures the industry member’s actual inefficiency.</span></p>
            <p ><span  >
                Hence, the estimated inefficiency is separated into two terms for which distributional assumptions have to be made. The observed output can be described by the stochastic frontier model obtained and the efficiency scores can be calculated. </span></p>
            <p ><span  >&nbsp;</span></p>
            <h3 ><span   >Non-parametric approaches</span><span  ></span></h3>
            <p ><span  >
                In contrast to the parametric approach the non-parametric approach does not require a pre-defined distribution function for the data. It focuses on "training the data" by creating a production efficiency frontier.</span></p>
            <p ><span  >
                The main method in this category is Data Envelopment Analysis (DEA), which "deals with best performance and evaluates all performances based on deviations from the frontier line." [29]. By means of linear programming, the above-mentioned frontier is estimated as a combination of (multiple) inputs and outputs. While the best performing and thus most efficient DMUs are displayed on the frontier line, the relative inefficiency of the other DMUs can be derived from their distance to the line. Only a reasonable and well-justified combination leads to a useful efficiency score. </span></p>
            <p ><span  >
                In practice, DEA has been especially used to analyze the efficiency of non-profit organizations where the benefits are difficult to quantify and to calculate. Some examples are hospitals, schools and universities, but also bank branches or fast food restaurants.</span></p>
            <p ><span  >A more detailed introduction to Data Envelopment Analysis can be found in the DEA-menu.</span></p>
            <p ><span  >&nbsp;</span></p>
            <p ><span  >&nbsp;</span></p>
            <h6 ><strong  >
                The next figure points out the difference between parametric (SFA) and non-parametric approach (DEA):</strong></h6>

            <div class="well">
                <img src="@routes.Assets.at("images/models-1.jpg")" class="img-thumbnail img-responsive center-block" >
            </div>
            <p ><span  >&nbsp;</span></p>
            <h3 ><span   >Pros and Cons</span></h3>
            <p ><span  >The main advantages and disadvantages of both methods are given in the following table:</span></p>
            <p ><span  >&nbsp;</span></p>

            <div >
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Method</th>
                            <th>Pros</th>
                            <th>Cons</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">SFA</th>
                            <td>
                                <ul>
                                    <li> variables determining efficiency can be verified using
                                        statistical tests</li>
                                    <li> inefficiency not measured in relation the the best practice benchmark</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> requires predefined productivity frontier and relatively big sample size</li>
                                    <li> distributional assumptions for inefficiency terms are needed</li>
                                    <li> cannot cope easily with multiple inputs and outputs</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">DEA</th>
                            <td>
                                <ul>
                                    <li> no need to explicitly specify a functional form of the data</li>
                                    <li> no need for distributional assumptions for inefficiency terms</li>
                                    <li> capable of handling multiple inputs and outputs</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> results are sensitive to the selection of inputs and outputs</li>
                                    <li> assumptions about input-output-relationships are debatable</li>

                                </ul>
                            </td>
                        </tr>







                    </tbody>
                </table>

            </div>


            <p ><span  >
                In opposite to SFA, DEA does not require a big collection of statistical data and no assumptions about the data’s distribution have to be made. Since it is relatively easy to apply in the case of multiple inputs and outputs, DEA became the preferred choice in the literature for comparative performance measurement in professional football.</span></p>
        </div>


    </div>
}




