
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Multistage DEA</h3>
        </div>


        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Purpose: Display multiple production steps</span></h3>
            <p >
                <span>






                    The production process within a football club consists of several smaller processes which are hard to express in one single DEA-stage. To meet this problem, it is possible to split up the production into several stages in order to get a deeper insight into the processes and to draw better conclusions for possible improvements.

                    In his paper on efficiency and effectiveness in Spanish football teams, Garcia-Sanchez [29] has shown the usefulness of this approach in the context of professional football.

                    He employed a three stage DEA-approach by separating the production process in operating defensive and offensive efficiency (1. Stage), operating effectiveness and social effectiveness. In this approach, the respective efficiency score of the preceding stage is used as an input for the following stage. For the understanding, it is important to clarify the difference between efficiency and effectiveness: While efficiency refers to how well something is done, effectiveness is about how useful something is.

                    Below you can see an example for Multistage DEA in professional football based on Garcia-Sanchez [29]:

                </span>
            </p>

            <div class="well">
                <img src="@routes.Assets.at("images/multi.png")" class="img-thumbnail img-responsive center-block" >
            </div>
            <br>

        </div>

    </div>
}




