
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Methodology</h3>
        </div>
        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>DEA Methodology</span></h3>
            <p >
                <span>
                    This section provides you with information on DEA and its application in Professional Football.

                    As the content of the menu points is building up on one another, we strongly recommend to start on the top (CCR) and read every point in the hierarchical order.

                </span>
            </p>

            <br><br>
            <h3 ><span> Why DEA in professional football?</span></h3>
            <p >
                <span>
                    Data Envelopment Analysis (DEA), introduced by Charnes et al. (1978), is a management tool widely used in many different fields to measure efficiency of Decision Making Units (DMUs).

                    When regarding a football club (DMU), many inputs and outputs are decisive to evaluate its management’s efficiency. Via linear programming, DEA computes an efficiency frontier for efficient clubs. Teams, which are below this frontier, are inefficient relatively to these. The method has proven especially useful in situations with multiple inputs and outputs which are not monetary and whose correct weighting therefore cannot be defined.

                    Note, that DEA is only applicable for homogeneous DMUs, which are autonomously from each other and have the control over their own processes. According to Garcia-Sanchez [12] “football teams produce identical outputs, use the same inputs, compete under identical rules, employ the same production function, and share the same technology”. We therefore found DEA to be the most suitable approach to measure efficiency in professional football.

                    Analyzing the results of Data Envelopment Analysis with a reasonable input/output-combination may identify problems of badly performing clubs and proposals for improvements may be derived.

                </span>
            </p>

        </div>

    </div>
}




