
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Slacks Based Measure</h3>
        </div>


        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Purpose: Deal with different units of measure</span></h3>
            <p >
                <span>






                    When conducting a Data Envelopment Analysis, the problem of different units of measure for various inputs/outputs often arises. For example, it is difficult to find one comparative measure for the input "Ball possession" and the input "Shots on goal", when the former is given in percentage and the latter is given in total numbers.
                </span>

            </p>
            <p>
                <span>
                    In order to solve this drawback of traditional DEA, Tone [31] introduced the Slacks Based Measure (SBM).

                    SBM has the following important properties: On the one hand, it realizes unit invariance as mentioned above and on the other hand it “deals directly with input excess and output shortfall” [31]. In contrast, the CCR and BCC measures are only reflecting proportional shifts in input or output.

                    Based on evaluating the slack (unused capacity of a DMU), the SBM can be interpreted as a product of input and output inefficiencies. Interested readers may see Tone [31] to check SBM’s mathematical implementation. Similar to CCR, the SBM score is between 0 and 1, and as a consequence of its mathematical formulation, a DMU’s SBM score is never exceeding the particular DMU’s CCR score. Thus, a CCR-efficient DMU is inevitably SBM-efficient.

                    One big drawback of SBM is that it only identifies efficient and inefficient DMUs. Hence, a DMU-ranking based on this score has no validity; it should always be generated according to either the CCR or BCC scores

               </span>
            </p>


        </div>

    </div>
}




