
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="">The Malmquist Index</h3>
        </div>


        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Purpose: Quantify efficiency changes</span></h3>
            <p >
                <span>






                    To evaluate the performance of a DMU over multiple time periods, the Malmquist Index (MQI) can be used.

                    It compares the performances of two time periods and quantifies the changes between them.

                    The Malmquist index is a product of two components: The Catch-up term, which measures the efficiency change of one particular DMU within the sample, and the Frontier-shift term which quantifies the shift in the whole sample’s production frontier. Hence, it is a comparative measure for the development of a DMUs performance in relation to the performance-shift of the whole sample.

                    In the simple case of one input and one output, the MQI is calculated as follows [29]:

                    P stands for the considered DMU's input/output-combination in period 1, while Q stands for its input/output-combination in the second period.

                </span>
            </p>

            <div class="row">
                <div class="col-md-6">
                    <div class="well">
                        <img src="@routes.Assets.at("images/mqi-1a.jpg")" class="img-thumbnail img-responsive center-block" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">
                        <img src="@routes.Assets.at("images/mqi-1b.png")" class="img-thumbnail img-responsive center-block" >
                    </div>
                </div>
            </div>

            <br>

            
        </div>

    </div>
}




