
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Super-efficiency</h3>
        </div>


        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Purpose: Differentiation between efficient DMUs</span></h3>
            <p >
                <span>
                  A big drawback of both the CCR and the BCC model is the fact that in a big sample, many teams are often ranked completely efficient with an efficiency score of 1. In order to solve this problem, Andersen and Petersen (1993) introduced the concept of super-efficiency. Its main idea is to exclude all fully efficient DMUs one after the other from the sample so as to create the DEA frontier without the particular DMU.
                    Since the mathematical implementation of super-efficiency is not essential for understanding the basic concept of the solver, we did not include it here.
                </span>
            </p>

            <div class="well">
                <img src="@routes.Assets.at("images/efficiency.jpg")" class="img-thumbnail img-responsive center-block" >
            </div>
            <br>

            <p >
                <span>
                    The above illustration visualizes the concept of super-efficiency [30]. The axis of abscissa displays a ratio of input 1 and the output while the axis of ordinates displays a ratio of input 2 divided through the output.

                    Consider DMU B in the figure. If it was excluded from the sample, a new efficiency frontier would be estimated, only comprising of the DMUs A and C. The super efficiency score of B can be received by calculating its distance to the new frontier (B-B’). Note, that it is not possible to expand this additional efficiency unlimitedly. Since a movement of B means a shift in its inputs, it is limited by the permissible input extension so that the DMU remains efficient.
                </span>
            </p>

            <br>

        </div>

    </div>
}




