
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">CCR Model</h3>
        </div>


        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>The Traditional model</span></h3>
            <p >
                <span>
                    The work of Charnes, Cooper and Rhodes (1978) has marked the starting point to all DEA-related studies.

                    From an economical point of view, the transformation from inputs (e.g. shots on goal, wages paid) into outputs (e.g. goals scored, titles won) is a production process that may be described by a production frontier. DMUs on this frontier are considered as efficient, the ones below are inefficient in comparison to these.

                    The main objective of CCR-DEA is to create an overall efficiency score that is measuring a DMU’s relative efficiency. With the aid of linear programming, a mathematical method, which solves an objective function within pre-defined constraints, the CCR score is computed as visualized in the following section:
                </span>
            </p>

            <div class="well">
                <img src="@routes.Assets.at("images/ccr.png")" class="img-thumbnail img-responsive center-block" >
            </div>
            <br>
            <h3 ><span>Sample Size</span></h3>
            <p >
                <span>
                    To ensure a valid differentiation between efficient and inefficient units, CCR-DEA needs a relatively big sample size. Two different rules of thumb for an ideal sample size are advised depending on the source:

                    Dyson et al (2001):  Number of DMUs ≥ 2 * (Number of Inputs * Number of Outputs)

                    Cooper et al (2007): Number of DMUs ≥ 3 * (Number of Inputs + Number of Outputs)
                </span>
            </p>

            <br>
            <h3 ><span>Input- or Output-Orientation</span></h3>
            <p >
                <span>
                    The above model is an input-oriented CCR-model, in which emphasis is put on the reduction of input.

                    To decide whether to use an input- or output-oriented model, it is necessary to consider which part of the production process can be influenced by the DMU.

                    If a DMU is in control over its inputs, an input-orientated model should be used. The measure of input efficiency reflects the extent to which input levels of a DMU can be lowered through improved performance without lowering any output level.

                    An output-oriented model that focuses on output enlargement is favourable in case of controllable outputs.

                </span>
            </p>

        </div>

    </div>
}




