@(sporty: List[Input], social: List[Input], monetary: List[Input], output: List[Input], offensive: List[Input], defensive: List[Input])

@main("Get Started") {
    <script src="@routes.Assets.versioned("javascripts/getStarted.js")" type="text/javascript"></script>
    <style>
    body {
    position: relative;
    }

    #chooseLeague {
    padding-top: 50px;
    color: #fff;
    background-color: #1E88E5;
    }

    #chooseSeason {
    padding-top: 50px;
    color: #fff;
    background-color: #673ab7;
    }

    #chooseMethod {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #DF0101;
    }

    #chooseTeam {
    padding-top: 50px;
    }

    #chooseInputs {
    padding-top: 50px;
    color: #fff;
    background-color: #ff9800;
    }

    #resume {
    padding-top: 50px;
    color: #fff;
    background-color: #00bcd4;
    }

    #chooseOutputs {
    padding-top: 50px;
    color: #fff;
    background-color: #009688;
    }

    #chooseOrder {
    padding-top: 50px;
    color: #fff;
    background-color: #c81db3;
    }
    .navbar-inverse {
    margin-bottom: 0px;
    }

    .league-data {
    padding-top: 20px;
    }

    .championship {
    background: #34495e;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    margin-bottom: 15px;
    }

    .championship-label {

    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #1e88e5;

    border-bottom: 2px solid #186fbb;
    border-right: 2px solid #186fbb;


    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5px;

    }

    .league{
    background-color: white; border: 5px solid #1e88e5;

    }
    .league:hover{
    background-color: white; border: 5px solid white;

    }

    .season-select{
    background: #402a68;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    padding :  15px;
    }

    .team-box{
    cursor: hand;
    cursor: pointer;
    background: #402a68;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    padding: 5px;
    margin: 5px;
    }

    .team-box img:hover{
    background: #402a68;
    cursor: hand;
    cursor: pointer;
    }

    .team-logo{
    padding: 10px;
    }

    .input-box{
    background: rgb(188, 69, 14);
    color: white;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    padding:10px;
    margin-bottom: 15px;

    }

    .input-box-header{
    text-align: center;
    }

    .input-element{
    color: white;
    background: #ff9800;
    margin-right: 10%;
    margin-top: 10px;
    margin-left:10%;
    border-bottom: 2px solid #6f4910;
    border-right: 2px solid #6f4910;
    }

    .output-box{
    background: rgb(14, 113, 103);
    color: white;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    padding:10px;
    margin-bottom: 15px;

    }

    .output-box-header{
    text-align: center;
    }

    .output-element{
    color: white;
    background: rgb(0, 150, 136);
    margin-right: 10%;
    margin-top: 10px;
    margin-left:10%;
    border-bottom: 2px solid #6f4910;
    border-right: 2px solid #6f4910;
    }

    .superEff-element{
    color: white;
    background: #df0101;
    margin-right: 10%;
    margin-top: 10px;
    margin-left:10%;
    margin-bottom: 10px;
    border-bottom: 2px solid #6f4910;
    border-right: 2px solid #6f4910;
    }

    .col5{
    width: 18%;

    float: left;
    margin: 10px;
    }

    .red{
    color: #fff;
    background-color: #df0101;
    margin-bottom: 22px;
    }

    .select-method-box{
    background: rgb(174, 44, 172);
    color: white;
    box-shadow: rgba(0,0,0,0.2) 10px 10px 10px;
    padding:10px;
    margin-bottom: 15px;

    }

    .dea-element{
    background: rgb(200, 29, 179);
    margin-right: 5%;
    margin-bottom: 5%;
    border-bottom: 2px solid rgb(134, 58, 133);
    border-right: 2px solid rgb(134, 58, 133);

    }
    .add-dea-button{
    margin-top: 20px;
    margin-bottom: 10px;
    }


    #dea-templates { display: none; }

    </style>



    <body >

        <nav class="navbar navbar-inverse navbar-fixed-top" id="scrollspy">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">BenchMarking Football Clubs</a>

                </div>
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li><a href="#chooseMethod">Method</a></li>
                            <li><a href="#chooseLeague">League</a></li>
                            <li><a href="#chooseSeason">Season</a></li>

                            <li><a href="#chooseInputs">Input</a></li>
                            <li><a href="#chooseOutputs">Output</a></li>
                                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#resume">Resume</a></li>
              <li><a href="#section42">Section 4-2</a></li>
            </ul>
          </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div id="chooseMethod" class="container-fluid text-center">
            <h1>Choose a Method</h1>
            <div id="chooseMethodAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Necessary Field</strong> Select one method
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4" style="background-color: #610B0B; padding-bottom: 10;">
                    <h1>Simple Solver</h1>
                    <h5>The simple solver is suggested for non expert users. <br>Select Maximum three inputs and one output</h5>
                    <button id="simpleSolver" type="button" class="btn btn-success red"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Select</button>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="superEff-element">
                                <input style="margin-left:5%" type="checkbox" value="efficiency" id="efficiency" >
                                <label >
                                    Super Efficiency  <a href="/benchmarking/Efficiency" target="_blank">?</a>
                                </label>

                            </div>
                        </div>
                        <div class="col-md-4"></div>

                            <!--<div class="col-md-6" style="display: none">
                            <div class="superEff-element" >

                                <div class="form-group">
                                    <label for="numberOfSeasonsSelect">Number Of Seasons</label>
                                    <select class="form-control" ; style="width: 90%; margin-left: 5%; margin-right: 5%" id="numberOfSeasonsSelect">
                                        <option>1</option>

                                    </select>

                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4" style="background-color: #610B0B">
                    <h1>Complex Solver</h1>
                    <h5>The complex solver is using a multi stage Data Envelopment Analysis.<br>
                        Please select the inputs and outputs desired<br>
                        <button id="complexSolver" type="button" class="btn btn-success red"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span>Select</button>

                </div>
                <div class="col-md-1"></div>



            </div>

        </div>
        <div id="chooseLeague" class="container-fluid text-center">
            <h1 >Choose a League</h1>

            <div id="chooseLeagueAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Necessary Field</strong> Please choose one of the leagues by clicking on the logo
            </div>


            <div id="league" class="row">

                <div class="col-sm-3 text-center">

                    <div class="championship">
                        <br>

                        <div class="championship-label"><h2 >Serie A</h2></div>



                        <img class="img-responsive img-thumbnail img-circle center-block league" src="@routes.Assets.at("images/SerieA500.png")" val=1 alt="SerieA" width="150" height="150" />
                        <div class="championship-label"> <p><strong>Italian Football League</strong></p></div>
                        <br>
                        <div class=" championship-label">
                            <p>League Value: <strong>2,49 Billion €</strong></p>
                            <p>Number of teams: <strong>20</strong></p>
                            <p>Number of Players: <strong>528</strong></p>
                            <p>Uefa Ranking: <strong>4th</strong></p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="championship">
                        <br>
                        <div class="championship-label"><h2 >Premier League</h2></div>
                        <img class="img-responsive img-thumbnail img-circle center-block league" src="@routes.Assets.at("images/Premier500.png")" val=2 alt="Premier" width="150" height="150">


                        <div class="championship-label"><p><strong>English Football League</strong></p></div>
                        <br>
                        <div class="championship-label">
                            <p>League Value: <strong>4,41 Billion €</strong></p>
                            <p>Number of teams: <strong>20</strong></p>
                            <p>Number of Players: <strong>525</strong></p>
                            <p>Uefa Ranking: <strong>3rd</strong></p>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-sm-3 text-center">
                    <div class="championship">
                        <br>
                        <div class="championship-label"><h2 >Primera Divisìon (Liga BBVA)</h2></div>

                        <img class="img-responsive img-thumbnail img-circle center-block league" src="@routes.Assets.at("images/Liga500.png")" val=3 alt="Liga" width="150" height="150">

                        <div class="championship-label"><p><strong>Spanish Football League</strong></p></div>
                        <br>
                        <div class="championship-label">
                            <p>League Value: <strong>3,2 Billion €</strong></p>
                            <p>Number of teams: <strong>20</strong></p>
                            <p>Number of Players: <strong>484</strong></p>
                            <p>Uefa Ranking: <strong>1st</strong></p>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="championship">
                        <br>
                        <div class="championship-label"><h2 >Bundesliga</h2></div>

                        <img class="img-responsive img-thumbnail img-circle center-block league" src="@routes.Assets.at("images/Bundes500c.png")" val=4 alt="Bundes" width="150" height="150">

                        <div class="championship-label"><p><strong>German Football League</strong></p></div>
                        <br>
                        <div class="championship-label">
                            <p>League Value: <strong>2,38 Billion €</strong></p>
                            <p>Number of teams: <strong>18</strong></p>
                            <p>Number of Players: <strong>515</strong></p>
                            <p>Uefa Ranking: <strong>2nd</strong></p>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div id="chooseSeason" class="container-fluid text-center">
            <h1>Choose a Season</h1>
            <div id="chooseSeasonAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Necessary Field</strong> Select one season from the dropdown menu
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 season-select">
                    <div class="form-group">
                        <label for="seasonSelect"></label>
                        <select class="form-control" id="seasonSelect">
                            <option>...</option>
                            <option>2015</option>
                            <option>2014</option>
                            <option>2013</option>
                            <option>2012</option>
                            <option>2011</option>
                            <option>2010</option>

                        </select>

                    </div>

                </div>
                <div class="col-md-4"></div>


            </div>
            <div id="chooseTeam">
                <h1>Choose your favorite Team</h1>
                <div id="chooseTeamAlert" class="alert alert-danger" style="visibility: hidden;">
                    <strong>Necessary Field</strong> Select your favorite team
                </div>
                <div id="teams" class="row"></div>
            </div>
        </div>

        <div id="chooseInputs" class="container-fluid">
            <h1 class="text-center">Choose <a <a target="_blank" href="@routes.Application.benchmarking("Inputs/Outputs")">Input</a> parameters</h1>

            <div id="chooseInputsAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Necessary Field</strong> Select at least two inputs
            </div>
            <div id="cooperAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Cooper Law not respected</strong> check that Number of Teams > 3 * (Number of Inputs + Number of Outputs)
            </div>
            <div class="row" >
                <div class="col5">
                    <div class="input-box">
                        <div class="input-box-header">
                            <h2 >Sportive</h2>
                        </div>
                        <div class="input-box-body " >
                        @for(input <- sporty) {
                            <div class="input-element">
                                <input style="margin-left:5%" type="checkbox" value="@input.id" name="@input.name" >
                                <label >
                                @input.name
                                </label>
                            </div>


                        }
                        </div>
                    </div>
                </div>
                <div class="col5">
                    <div class="input-box" id="socialInput">
                        <div class="input-box-header">
                            <h2>Social</h2>
                        </div>
                        <div class="input-box-body ">
                        @for(input <- social) {
                            <div class="input-element">
                                <input style="margin-left:5%" type="checkbox" value="@input.id " name="@input.name">
                                <label>
                                @input.name
                                </label>
                            </div>


                        }
                        </div>
                    </div>
                </div>
                <div class="col5">
                    <div class="input-box">
                        <div class="input-box-header">
                            <h2 >Monetary</h2>
                        </div>
                        <div class="input-box-body ">
                        @for(input <- monetary) {
                            <div class="input-element">
                                <input style="margin-left:5%"  type="checkbox" value="@input.id" name="@input.name">
                                <label>
                                @input.name
                                </label>
                            </div>


                        }
                        </div>
                    </div>
                </div>
                <div class="col5">
                    <div class="input-box" id="offensiveInput">
                        <div class="input-box-header">
                            <h2 >Offensive</h2>
                        </div>
                        <div class="input-box-body ">
                        @for(input <- offensive) {
                            <div class="input-element">
                                <input style="margin-left:5%"  type="checkbox" value="@input.id" name="@input.name">
                                <label>
                                @input.name
                                </label>
                            </div>


                        }
                        </div>
                    </div>
                </div>
                <div class="col5">
                    <div class="input-box" id="defensiveInput">
                        <div class="input-box-header">
                            <h2 >Defensive</h2>
                        </div>
                        <div class="input-box-body ">
                        @for(input <- defensive) {
                            <div class="input-element">
                                <input style="margin-left:5%"  type="checkbox" value="@input.id" name="@input.name">
                                <label>
                                @input.name
                                </label>
                            </div>


                        }
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <div id="chooseOutputs" class="container-fluid">
            <h1 class="text-center">Choose <a target="_blank" href="@routes.Application.benchmarking("Inputs/Outputs")">Output</a> parameters</h1>


            <div id="chooseOutputsAlert" class="alert alert-danger" style="visibility: hidden;">
                <strong>Necessary Field</strong> Select at least one output
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="output-box">
                        <div class="output-box-header">
                            <h2>General Outputs</h2>
                        </div>
                        <div class="output-box-body ">
                        @for(input <- output) {
                            @if( !input.isOfType("Defensive") && !input.isOfType("Offensive")  && !input.isOfType("Sporty") ){
                                <div class="output-element">
                                    <input style="margin-left:5%" type="checkbox" value="@input.id" name="@input.name">
                                    <label >
                                    @input.name
                                    </label>
                                </div>
                            }

                        }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="output-box" id="sportiveOutput">
                        <div class="output-box-header">
                            <h2>Sportive Outputs</h2>
                        </div>
                        <div class="output-box-body ">
                        @for(input <- output) {
                            @if( input.isOfType("Sporty") ){
                                <div class="output-element">
                                    <input style="margin-left:5%" type="checkbox" value="@input.id" name="@input.name">
                                    <label >
                                    @input.name
                                    </label>
                                </div>
                            }

                        }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="output-box" id="offensiveOutput">
                        <div class="output-box-header">
                            <h2>Offensive Outputs</h2>
                        </div>
                        <div class="output-box-body ">
                        @for(input <- output) {
                            @if( input.isOfType("Offensive")){
                                <div class="output-element">
                                    <input style="margin-left:5%" type="checkbox" value="@input.id" name="@input.name">
                                    <label >
                                    @input.name
                                    </label>
                                </div>
                            }

                        }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="output-box" id="defensiveOutput">
                        <div class="output-box-header">
                            <h2>Defensive Outputs</h2>
                        </div>
                        <div class="output-box-body ">
                        @for(input <- output) {
                            @if( input.isOfType("Defensive")){
                                <div class="output-element">
                                    <input style="margin-left:5%" type="checkbox" value="@input.id" name="@input.name">
                                    <label >
                                    @input.name
                                    </label>
                                </div>
                            }

                        }
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div id="chooseOrder" class="container-fluid" style="display: none">
            <div class="row">
                <div class="col-md-1">

                </div>
                <div class="col-md-10">
                    <h1  class="text-center">Compose Your Solver</h1>
                    <p  class="text-center"> You have choosen to use a multi-stage data analysis. This method is a composition of several "Simple Solvers" or one-stage DEAs.</p>
                    <p class="text-center"> You can create up to three stages and solve multiple DEAs in each stage. The results from one stage can be used as inputs for DEAs in the following stages</p>

                </div>
                <div class="col-md-1">

                </div>
            </div>
            <div id="cooperAlertComplex" class="alert alert-danger" style="visibility: hidden;">
                <strong>Cooper Law not respected</strong> check that Number of Teams ≥ 2 * (Number of Inputs * Number of Outputs)
            </div>
            <div id="inputsAlertComplex" class="alert alert-danger" style="visibility: hidden;">
                <strong>Inputs for each DEA must be given</strong>
            </div>
            <div id="outputsAlertComplex" class="alert alert-danger" style="visibility: hidden;">
                <strong>Outputs for each DEA must be given</strong>
            </div>
            <div class="row" >
                <div class="col-md-4"></div>
                <div class="col-md-4  select-method-box">
                    <h4 class="text-center">Select a solving method:
                        <h5 class="text-center">Learn more on <a href="/benchmarking/CCR" target="_blank">CCR</a>,<a href="/benchmarking/BCC" target="_blank">BCC</a></h5>
                        <div class="form-group">
                            <label for="seasonSelect"></label>
                            <select class="form-control" id="methodSelect">
                                <option>BCC</option>
                                <option>CCR</option>
                            </select>
                        </div>
                </div>
                <div class="col-md-4">
                    <p class="text-center"> ->Perform a <bold>2-Stage-DEA</bold><- </p>
                    <ul class="tabs right">
                        <li> Fill the <bold>Stage 1</bold> with 1 DEA with dummy data </li>
                        <li> Consider <bold>Stage 2 and Stage 3</bold> as if they were the <bold>2-Stage-DEA </bold></li>
                    </ul>
                </div>


            </div>
            <div class="row " id="setStages" >
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><h1 class="text-center">Stage 1</h1></div>
                        <div class="col-md-4"><button id="stage1" type="button" class="btn btn-success add-dea-button"><span class="glyphicon glyphicon-plus"></span>Add DEA</button></div>
                    </div>
                    <div id="stage1-dea" class="stage">

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button id="stage1-rem" style=" display: none;" type="button" class="btn btn-danger add-dea-button"><span class="glyphicon glyphicon-minus"></span>Remove DEA</button></div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">    <h1 class="text-center">Stage 2</h1></div>
                        <div class="col-md-4">  <button id="stage2"  type="button" class="btn btn-success add-dea-button"><span class="glyphicon glyphicon-plus"></span>Add DEA</button></div>
                    </div>
                    <div id="stage2-dea" class="stage">

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button id="stage2-rem" style=" display: none;" type="button" class="btn btn-danger add-dea-button"><span class="glyphicon glyphicon-minus"></span>Remove DEA</button></div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">    <h1 class="text-center">Stage 3</h1></div>
                        <div class="col-md-4">  <button id="stage3" type="button" class="btn btn-success add-dea-button"><span class="glyphicon glyphicon-plus"></span>Add DEA</button></div>
                    </div>
                    <div id="stage3-dea" class="stage">

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button id="stage3-rem" style=" display: none;" type="button" class="btn btn-danger add-dea-button"><span class="glyphicon glyphicon-minus"></span>Remove DEA</button></div>
                    </div>
                </div>
            </div>


        </div>

        <div id="resume" class="container-fluid">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <h1  class="text-center">Resume</h1>
                    <p  class="text-center">Summary of the parameters Selected:</p>
                    <p id="query"></p>
                    <div   class="text-center" id="selection-summary"></div>
                    <input class="btn btn-default" type="submit" value="Submit" id="submit">
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        <p ><span  >&nbsp;</span></p>

        <div >
            <div class="select-method-box" id="dea-templates">


                <div class="row">
                    <div class="col-md-3">Inputs:</div>
                    <div class="col-md-9 dea-inputs-container" >



                    </div>


                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-3">Outputs:</div>
                    <div class="col-md-9 dea-outputs-container">


                    </div>


                </div>
                <br><br>
                <div class="row dea-orientation-container">



                </div>




            </div>
        </div>
    </body>
}
