@(message: String)

@main(message) {


            

    <style>
      .carousel-inner > .item > img,
      .carousel-inner > .item > a > img {
          width: 100%;
          margin: auto;
      }
      </style>



    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img  src="@routes.Assets.at("images/slide-11.jpg")" >
              <div class="carousel-caption">
                      <h1>Top European Leagues</h1>
                      <p>Analyse your favorite championship</p>
                    </div>
            </div>

            <div class="item">
              <img src="@routes.Assets.at("images/slide-12.jpg")" alt="1">
              <div class="carousel-caption">
                      <h1>PUT SOME NICE SENTENCE</h1>
                      <p>HERE</p>
                    </div>
            </div>

            <div class="item">
              <img src="@routes.Assets.at("images/slide-13.jpg")" alt="2">
              <div class="carousel-caption">
                     <h1>PUT SOME NICE SENTENCE</h1>
                      <p>HERE</p>
                    </div>
            </div>


      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>



<div class="container marketing">

  <h1>Benchmark your team!! <small> in 3 simple steps:</small></h1>
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle"  src="@routes.Assets.at("images/data.jpg")" alt="Generic placeholder image" width="140" height="140">
      <h2>1. Select data</h2>
      <p>Choose the leagues, teams and inputs to use. We have data from the 4 mayor leagues in Europe over the last 5 years</p>
      <p><a class="btn btn-secondary" href="#" role="button">Get Started &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="@routes.Assets.at("images/modeling.png")" alt="Generic placeholder image" width="140" height="140">
      <h2>2. Select model</h2>
      <p>Read more about the methodologies used to analyse the data and select the one to use in the Advanced Solver</p>
      <p><a class="btn btn-secondary" href="#" role="button">Learn More &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="@routes.Assets.at("images/visualize.jpg")" alt="Generic placeholder image" width="140" height="140">
      <h2>3. View Results</h2>
      <p>The data will be displayed in charts and graphics for visual analysis of the results</p>

    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"> Are you asking yourself- <span class="text-muted"> How efficient is my favourite football club?</span></h2>
      <p class="lead">This website is an approach to answering the question, every soccer fan with an interest in economic matters has probably wondered about. Since the end of the 20th century, football has become a huge business in Europe and the challenge of maximizing the sportive and economic efficiency has become more important to the club’s managers.


           </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive img-fluid center-block" src="@routes.Assets.at("images/featurette_1.jpg")"  alt="    ">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">The Solution- <span class="text-muted">High level DEA </span></h2>
      <p class="lead"> Many experts in the field have identified Data Envelopment Analysis (DEA) as the most suitable method to benchmark football clubs. Benchmarking is a management tool for comparing the efficiencies between several companies or - in our case - football teams.
      </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive img-fluid center-block" src="@routes.Assets.at("images/featurette_2.jpg")"  alt="    ">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">The Tool- <span class="text-muted">Benchmarking Football Clubs</span></h2>
      <p class="lead">Feel free to click through our information on the methodological background of DEA-Benchmarking and use our DEA-Solver, which is providing the opportunity to measure and compare the efficiency scores of football teams currently playing in the European Top Leagues.
      </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive img-fluid center-block" src="@routes.Assets.at("images/featurette_3.jpg")"  alt="    ">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-xs-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</div>



}