@benchmarking {

    <style type="text/css">

    table.table-input-output {
    width: 100% ;
    }

    </style> <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Inputs ad Outputs</h3>
        </div>
        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Input</span></h3>
            <p >
                <span>
                    <table class="table-input-output">
                        <tr>
                            <td>
                                Games Won
                            </td>
                            <td>
                                Number of games a team has won during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Games Drawn
                            </td>
                            <td>
                                Number of games a team has drawn during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Games Lost
                            </td>
                            <td>
                                Number of games a team has lost during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goals Scored
                            </td>
                            <td>
                                Number of goals a team has scored during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goals Against
                            </td>
                            <td>
                                Number of goals a team conceived during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rank
                            </td>
                            <td>
                                The team's final position in the league table at the end of the season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shots Per Game</td>
                            <td>
                                Average number of shots a team has performed against their opponent per game
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ball Possession</td>
                            <td>
                                Percentage of ball possession
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pass Success
                            </td>
                            <td>
                                Percentage of passes that successfully got to the designed player
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Red Cards
                            </td>
                            <td>
                                Number of red cards a team received during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shots Conceded Per Game
                            </td>
                            <td>
                                Average number of shots a team conceded against their defended football goal per season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tackles Per Game
                            </td>
                            <td>
                                Average number of successfully performed tackles that did not lead to a foul
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Interceptions Per Game
                            </td>
                            <td>
                                Average number of times an action that leaded to gain ball possession is successfully performed
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shots On Target Per Game
                            </td>
                            <td>
                                Shots that clearly target the goal
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Dribbles Won Per Game
                            </td>
                            <td>
                                Average number of attacking moves which consists of running with the ball at feet
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cross Per Game
                            </td>
                            <td>
                                Average number of medium- to-long-range pass from a wide area of the field towards the centre of the field, near the opponent's goal.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Through Balls Per Game
                            </td>
                            <td>
                                Average number of forward passes played between opposition defenders
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Long Balls Per Game
                            </td>
                            <td>
                                Average number of kicks in which the ball goes over the heads of other players into an empty space, into which an attacker is moving
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Short Pass Per Game
                            </td>
                            <td>
                                Average number of passes between teammates performed keeping the ball on the ground
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Number Of Players</td>
                            <td>
                                Number of players that are in a team during the season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Average Age</td>
                            <td>
                                Average team age
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Number Of Foreign Players</td>
                            <td>
                                Number of players in a team that have different nationality from the Leag the currently play in
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Team Value (MLN EURO)</td>
                            <td>
                                Sum of the "average players' values" of all the players in a team
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Average Player Value (MLN EURO)</td>
                            <td>
                                Estimated value a player is worth on the soccer marker
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Stadium Capacity</td>
                            <td>
                                The biggest number of spectators a stadium can safely hold
                            </td>


                    </table>

                </span>
            </p>

            <br><br>
            <h3 ><span> Output</span></h3>
            <p >
                <span>
                    <table class="table-input-output">
                        <tr>
                            <td>
                                Games Won
                            </td>
                            <td>
                                Number of games a team has won during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Games Lost
                            </td>
                            <td>
                                Number of games a team has lost during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goals Scored
                            </td>
                            <td>
                                Number of goals a team has scored during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Goals Against
                            </td>
                            <td>
                                Number of goals a team conceived during a season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rank
                            </td>
                            <td>
                                The team's final position in the league table at the end of the season
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Average Player Value (MLN EURO)</td>
                            <td>
                                Estimated value a player is worth on the soccer marker
                            </td>

                        </tr>

                    </table>
                </span>
            </p>

        </div>

    </div>
}
