
@benchmarking {

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Inputs ad Outputs</h3>
        </div>
        <div class="panel-body">
            <p ><span  >&nbsp;</span></p>
            <h3 ><span>Input</span></h3>
            <p >
                <span>

                </span>
            </p>

            <br><br>
            <h3 ><span> Output</span></h3>
            <p >
                <span>

                </span>
            </p>

        </div>

    </div>
}
