@import com.fasterxml.jackson.databind.JsonNode
@(json: String)

@main("Get Started") {
    <script src="@routes.Assets.versioned("javascripts/getStarted.js")" type="text/javascript"></script>


    <script>
            var jsonString = JSON.stringify("@json");





            var jsonString = JSON.stringify("@json");
            jsonString=jsonString.replace(/&quot;/g, '\"').slice(1, -1);
            console.log(jsonString);
            var jsonObj=JSON.parse(jsonString);



            $(function () {
                var method= jsonObj.solutionMethod;


                var stage3table = showStage(jsonObj.stage3Eff,jsonObj.dmu, method);

                $('#stage3').append(stage3table);
                $("#stage3").tablesorter();
                var stage3series=[];
                for(var i = 0; i < jsonObj.stage3Eff.length; i++ ){
                  stage3series.push({
                    name: jsonObj.solutionMethod+" DEA"+(i+1),
                    data: jsonObj.stage3Eff[i],
                  });
                }

                $('#columnChart3').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu,
                    },
                    yAxis: {},
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.01,
                            borderWidth: 0
                        }
                    },
                    series: stage3series,
                });

                var stage2table = showStage(jsonObj.stage2Eff,jsonObj.dmu, method);

                $('#stage2').append(stage2table);
                $("#stage2").tablesorter();
                var stage2series=[];
                for(var i = 0; i < jsonObj.stage2Eff.length; i++ ){
                  stage2series.push({
                    name: jsonObj.solutionMethod+" DEA"+(i+1),
                    data: jsonObj.stage2Eff[i],
                  });
                }
                $('#columnChart2').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu,
                    },
                    yAxis: {

                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.01,
                            borderWidth: 0
                        }
                    },
                    series: stage2series,
                });


                var stage1table = showStage(jsonObj.stage1Eff,jsonObj.dmu, method);


                $('#stage1').append(stage1table);
                $("#stage1").tablesorter();
                var stage1series=[];
                for(var i = 0; i < jsonObj.stage1Eff.length; i++ ){
                  stage1series.push({
                    name: jsonObj.solutionMethod+" DEA"+(i+1),
                    data: jsonObj.stage1Eff[i],
                  });
                }
                $('#columnChart1').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu,
                    },
                    yAxis: {

                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.01,
                            borderWidth: 0
                        }
                    },
                    series: stage1series,
                });


              /*  $('#barChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmuList[0],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {

                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' '
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                   series: [
                       {
                       name: 'CCR-1Off',
                       data: jsonObj.overviewList[0][0].slice(0, 20),
                           visible: false

                   },{
                       name: 'CCR-1Dif',
                       data: jsonObj.overviewList[0][0].slice(20, 40),
                           visible: false

                   },{
                       name: 'CCR-2',
                       data: jsonObj.overviewList[0][0].slice(40, 60),
                           visible: false

                   },{
                       name: 'CCR-3',
                       data: jsonObj.overviewList[0][0].slice(60, 80)

                   }, {
                           name: 'BCC-1Off',
                           data: jsonObj.overviewList[0][1].slice(0, 20),
                           visible: false

                       },{
                           name: 'BCC-1Dif',
                           data: jsonObj.overviewList[0][1].slice(20, 40),
                           visible: false

                       },{
                           name: 'BCC-2',
                           data: jsonObj.overviewList[0][1].slice(40, 60),
                           visible: false

                       },{
                           name: 'BCC-3',
                           data: jsonObj.overviewList[0][1].slice(60, 80)

                       },{
                           name: 'SBM-1Off',
                           data: jsonObj.overviewList[0][2].slice(0, 20),
                           visible: false

                       },{
                           name: 'SBM-1Dif',
                           data: jsonObj.overviewList[0][2].slice(20, 40),
                           visible: false

                       },{
                           name: 'SBM-2',
                           data: jsonObj.overviewList[0][2].slice(40, 60),
                           visible: false

                       },{
                           name: 'SBM-3',
                           data: jsonObj.overviewList[0][2].slice(60, 80)

                       }]
                });*/

                // $('#barStackedChart').highcharts({
                //     chart: {
                //         type: 'bar'
                //     },
                //     title: {
                //         text: 'Stacked bar chart'
                //     },
                //     xAxis: {
                //         categories: ['Happiness', 'Crave', 'Gratirude', 'positive_unclassified', 'Frustration', 'Anger']
                //     },
                //     yAxis: {
                //         min: 0,
                //         title: {
                //             text: null
                //         }
                //     },
                //     legend: {
                //         backgroundColor: '#FFFFFF',
                //         reversed: true
                //     },
                //     plotOptions: {
                //         series: {
                //             stacking: 'normal'
                //         }
                //     },
                //     series: [{
                //         name: 'positive',
                //         data: [5, 3, 4, 7, 2, 10]
                //     }, {
                //         name: 'negative',
                //         data: [2, 2, 3, 2, 1, 1]
                //     }, {
                //         name: 'surprise_shock',
                //         data: [3, 4, 4, 2, 5, 7]
                //     }, {
                //         name: 'neutral',
                //         data: [3, 4, 4, 2, 5, 3]
                //     }]
                // });


            });
            function showStage(stage,dmu,title){
                var table = "<thead><tr><th><a>Teams<a></th>";
                for(var j=0;j<stage.length;j++){
                    table+="<th><a>"+title+" DEA"+(j+1)+"</a></th>"
                }
                table +="<tr></thead><tbody>";

              //  console.log(JSON.stringify(jsonObj.stage3Eff));
                for(var i=0; i<dmu.length;i++){
                    table+="<tr><td>"+dmu[i]+"</td>";
                    for(var j=0;j<stage.length;j++){

                        table+="<td>"+stage[j][i]+"</td>";
                    }
                    table+="</tr>";
                }
                table+="</tbody>";
                //console.log(" table: " + stage3table);
                return table;
            }
    </script>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                              <div class="panel panel-info">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">Stage 3 Table</h3>
                                  </div>
                                  <div class="panel-body">
                                      <table class="table table-striped tablesorter" id ="stage3"></table>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Stage 3 Chart</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="columnChart3" class="chart-holder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                              <div class="panel panel-info">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">Stage 2 Table</h3>
                                  </div>
                                  <div class="panel-body">
                                        <table class="table table-striped tablesorter" id ="stage2"></table>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Stage 2 Chart</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="columnChart2" class="chart-holder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">

                              <div class="panel panel-info">
                                  <div class="panel-heading">
                                      <h3 class="panel-title">Stage 1 Table</h3>
                                  </div>
                                  <div class="panel-body">
                                      <table class="table table-striped tablesorter" id ="stage1"></table>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Stage 1 Chart</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div id="columnChart1" class="chart-holder"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>




            </div><!-- /span12 -->

        </div>




    </div><!-- /container -->


}
