@import com.fasterxml.jackson.databind.JsonNode
@import workpackage.Scenario
@(json: String)

@main("Get Started") {
    <script src="@routes.Assets.versioned("javascripts/getStarted.js")" type="text/javascript"></script>

    <script>
            var jsonString = JSON.stringify("@json");
            jsonString=jsonString.replace(/&quot;/g, '\"').slice(1, -1);
            console.log(jsonString);
            var jsonObj=JSON.parse(jsonString);
            //console.log(jsonObj.overviewList[0][0][1]);



            $(function () {
                $('#table').append("<thead><tr><th>Teams</th><th>CCR</th><th>BCC</th><th>SBM</th><tr></thead><tbody>");
                for(var i = 0; i < jsonObj.dmu.length;i++){
                    $('#table').append("<tr><td>"+jsonObj.dmu[i]+"</td><td>"+ jsonObj.efficiencies.CCR[i]+"</td><td>"+ jsonObj.efficiencies.BCC[i]+"</td><td>"+ jsonObj.efficiencies.SBM[i]+"</td><tr>");
                }
                $('#table').append("</tbody>");
              /*  $('#barChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dealist[0].dmu,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {

                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' '
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                   series: [{
                        name: 'CCR',
                        data: jsonObj.overviewList[0][0]

                    }, {
                        name: 'BCC',
                        data: jsonObj.overviewList[0][1]

                    }, {
                        name: 'SBM',
                        data: jsonObj.overviewList[0][2]

                    },]
                }); */



                $('#columnChart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu,
                    },
                    yAxis: {

                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.01,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'CCR',
                        data: jsonObj.efficiencies.CCR

                    }, {
                        name: 'BCC',
                        data: jsonObj.efficiencies.BCC

                    }, {
                        name: 'SBM',
                        data: jsonObj.efficiencies.SBM

                    },]
                });
            });
    </script>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Table</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" id ="table"></table>
                    </div>
                </div>




            </div><!-- /span12 -->

        </div>





        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div id="columnChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->

    </div><!-- /container -->


}
