@import com.fasterxml.jackson.databind.JsonNode
@(json: String)

@main("Get Started") {
    <script src="@routes.Assets.versioned("javascripts/getStarted.js")" type="text/javascript"></script>

    <script>
            var jsonString = JSON.stringify("@json");
            jsonString=jsonString.replace(/&quot;/g, '\"').slice(1, -1);
            console.log(jsonString);
            var jsonObj=JSON.parse(jsonString);
            console.log(jsonObj.dmu[0]);
            console.log("Length"+jsonObj.malm[0][0].splice(20).length);
            $(function () {
                $('#barChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu[0],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 1,
                        type: 'linear',
                        endOnTick: true,
                        tickInterval: 0.01,
                        minorTickInterval: 1,
                        gridLineWidth: 0.1,
                        //min: 0,
                        title: {
                            text: null,
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' millions'
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Boh',
                        data: jsonObj.malm[0][0].splice(20)
                    }, {
                        name: 'More Boh',
                        data: jsonObj.malm[0][1].splice(20)
                    }, {
                        name: 'Some More Boh',
                        data: jsonObj.malm[1][0].splice(20)
                    }]
                });

                $('#barStackedChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Stacked bar chart'
                    },
                    xAxis: {
                        categories: ['Happiness', 'Crave', 'Gratirude', 'positive_unclassified', 'Frustration', 'Anger']
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: null
                        }
                    },
                    legend: {
                        backgroundColor: '#FFFFFF',
                        reversed: true
                    },
                    plotOptions: {
                        series: {
                            stacking: 'normal'
                        }
                    },
                    series: [{
                        name: 'positive',
                        data: [5, 3, 4, 7, 2, 10]
                    }, {
                        name: 'negative',
                        data: [2, 2, 3, 2, 1, 1]
                    }, {
                        name: 'surprise_shock',
                        data: [3, 4, 4, 2, 5, 7]
                    }, {
                        name: 'neutral',
                        data: [3, 4, 4, 2, 5, 3]
                    }]
                });

                $('#columnChart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmu[0],
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Counts'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: '1',
                        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2]

                    }, {
                        name: '2',
                        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2]

                    }, {
                        name: '3',
                        data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2, 51.2]

                    },]
                });
            });
    </script>

    <div class="container">


        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bar</h3>
                    </div>
                    <div class="panel-body">
                        <div id="barChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Stacked</h3>
                    </div>
                    <div class="panel-body">
                        <div id="barStackedChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Column</h3>
                    </div>
                    <div class="panel-body">
                        <div id="columnChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->

    </div><!-- /container -->


}