@import com.fasterxml.jackson.databind.JsonNode
@import workpackage.Scenario
@(json: String, solvedScenario: Scenario)

@main("Get Started") {
    <script src="@routes.Assets.versioned("javascripts/getStarted.js")" type="text/javascript"></script>

    <script>
            var jsonString = JSON.stringify("@json");
            jsonString=jsonString.replace(/&quot;/g, '\"').slice(1, -1);
            console.log(jsonString);
            var jsonObj=JSON.parse(jsonString);
            console.log(jsonObj.overviewList[0][0][1]);



            $(function () {
                $('#table').append("<thead><tr><th>DMU</th>" +
                        "<th>CCR-1Off</th><th>CCR-1Dif</th><th>CCR-2</th><th>CCR-3</th>" +
                        "<th>BCC-1Off</th><th>BCC-1Dif</th><th>BCC-2</th><th>BCC-3</th>" +
                        "<th>SBM-1Off</th><th>SBM-1Dif</th><th>SBM-2</th><th>SBM-3</th>" +
                        "<tr></thead><tbody>");
                for(var i = 0; i < jsonObj.dmuList[0].length;i++){
                    $('#table').append("<tr><td>"+jsonObj.dmuList[0][i]+"</td>" +
                            "<td>"+ jsonObj.overviewList[0][0].slice(0, 20)[i]+"</td><td>"+ jsonObj.overviewList[0][0].slice(20, 40)[i]+"</td><td>"+ jsonObj.overviewList[0][0].slice(40, 60)[i]+"</td><td><b>"+ jsonObj.overviewList[0][0].slice(60, 80)[i]+"</b></td>" +
                            "<td>"+jsonObj.overviewList[0][1].slice(0, 20)[i]+"</td>" +"<td>"+jsonObj.overviewList[0][1].slice(20, 40)[i]+"</td>" + "<td>"+jsonObj.overviewList[0][1].slice(40, 60)[i]+"</td>" + "<td><b>"+jsonObj.overviewList[0][1].slice(60, 80)[i]+"</b></td>"+
                            "<td>"+jsonObj.overviewList[0][2].slice(0, 20)[i]+"</td>" +"<td>"+jsonObj.overviewList[0][2].slice(20, 40)[i]+"</td>" + "<td>"+jsonObj.overviewList[0][2].slice(40, 60)[i]+"</td>" + "<td><b>"+jsonObj.overviewList[0][2].slice(60, 80)[i]+"</b></td>"+
                            "<tr>");
                }
                $('#table').append("</tbody>");
                $('#barChart').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmuList[0],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {

                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' '
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'top',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                   series: [
                       {
                       name: 'CCR-1Off',
                       data: jsonObj.overviewList[0][0].slice(0, 20),
                           visible: false

                   },{
                       name: 'CCR-1Dif',
                       data: jsonObj.overviewList[0][0].slice(20, 40),
                           visible: false

                   },{
                       name: 'CCR-2',
                       data: jsonObj.overviewList[0][0].slice(40, 60),
                           visible: false

                   },{
                       name: 'CCR-3',
                       data: jsonObj.overviewList[0][0].slice(60, 80)

                   }, {
                           name: 'BCC-1Off',
                           data: jsonObj.overviewList[0][1].slice(0, 20),
                           visible: false

                       },{
                           name: 'BCC-1Dif',
                           data: jsonObj.overviewList[0][1].slice(20, 40),
                           visible: false

                       },{
                           name: 'BCC-2',
                           data: jsonObj.overviewList[0][1].slice(40, 60),
                           visible: false

                       },{
                           name: 'BCC-3',
                           data: jsonObj.overviewList[0][1].slice(60, 80)

                       },{
                           name: 'SBM-1Off',
                           data: jsonObj.overviewList[0][2].slice(0, 20),
                           visible: false

                       },{
                           name: 'SBM-1Dif',
                           data: jsonObj.overviewList[0][2].slice(20, 40),
                           visible: false

                       },{
                           name: 'SBM-2',
                           data: jsonObj.overviewList[0][2].slice(40, 60),
                           visible: false

                       },{
                           name: 'SBM-3',
                           data: jsonObj.overviewList[0][2].slice(60, 80)

                       }]
                });

                // $('#barStackedChart').highcharts({
                //     chart: {
                //         type: 'bar'
                //     },
                //     title: {
                //         text: 'Stacked bar chart'
                //     },
                //     xAxis: {
                //         categories: ['Happiness', 'Crave', 'Gratirude', 'positive_unclassified', 'Frustration', 'Anger']
                //     },
                //     yAxis: {
                //         min: 0,
                //         title: {
                //             text: null
                //         }
                //     },
                //     legend: {
                //         backgroundColor: '#FFFFFF',
                //         reversed: true
                //     },
                //     plotOptions: {
                //         series: {
                //             stacking: 'normal'
                //         }
                //     },
                //     series: [{
                //         name: 'positive',
                //         data: [5, 3, 4, 7, 2, 10]
                //     }, {
                //         name: 'negative',
                //         data: [2, 2, 3, 2, 1, 1]
                //     }, {
                //         name: 'surprise_shock',
                //         data: [3, 4, 4, 2, 5, 7]
                //     }, {
                //         name: 'neutral',
                //         data: [3, 4, 4, 2, 5, 3]
                //     }]
                // });

                $('#columnChart').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: null
                    },
                    subtitle: {
                        text: null
                    },
                    xAxis: {
                        categories: jsonObj.dmuList[0],
                    },
                    yAxis: {

                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                        '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.01,
                            borderWidth: 0
                        }
                    },
                    series: [
                        {
                            name: 'CCR-1Off',
                            data: jsonObj.overviewList[0][0].slice(0, 20),
                            visible: false

                        },{
                            name: 'CCR-1Dif',
                            data: jsonObj.overviewList[0][0].slice(20, 40),
                            visible: false

                        },{
                            name: 'CCR-2',
                            data: jsonObj.overviewList[0][0].slice(40, 60),
                            visible: false

                        },{
                            name: 'CCR-3',
                            data: jsonObj.overviewList[0][0].slice(60, 80)

                        }, {
                            name: 'BCC-1Off',
                            data: jsonObj.overviewList[0][1].slice(0, 20),
                            visible: false

                        },{
                            name: 'BCC-1Dif',
                            data: jsonObj.overviewList[0][1].slice(20, 40),
                            visible: false

                        },{
                            name: 'BCC-2',
                            data: jsonObj.overviewList[0][1].slice(40, 60),
                            visible: false

                        },{
                            name: 'BCC-3',
                            data: jsonObj.overviewList[0][1].slice(60, 80)

                        },{
                            name: 'SBM-1Off',
                            data: jsonObj.overviewList[0][2].slice(0, 20),
                            visible: false

                        },{
                            name: 'SBM-1Dif',
                            data: jsonObj.overviewList[0][2].slice(20, 40),
                            visible: false

                        },{
                            name: 'SBM-2',
                            data: jsonObj.overviewList[0][2].slice(40, 60),
                            visible: false

                        },{
                            name: 'SBM-3',
                            data: jsonObj.overviewList[0][2].slice(60, 80)

                        }]
                });
            });
    </script>

    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Table</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped" id ="table"></table>
                    </div>
                </div>




            </div><!-- /span12 -->

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bar</h3>
                    </div>
                    <div class="panel-body">
                        <div id="barChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->



        <div class="row">

            <div class="col-md-12">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Column</h3>
                    </div>
                    <div class="panel-body">
                        <div id="columnChart" class="chart-holder"></div>
                    </div>
                </div>

            </div><!-- /span12 -->

        </div><!-- /row -->

    </div><!-- /container -->


}